.App {
  text-align: center;
}
.listWrapper{
  display:flex;
  flex-direction:row;
  /* justify-content:center;
  padding:10px; */
  background-color: aliceblue;
  margin:10px
}

.listWrapper *{
  margin: 10px 20px 10px 0px;
}
.listWrapper input[type="text"]{
  width:200px;
  text-align: left;
}